<div class="user-box"
     data-controller="post-click"
     data-post-click-url-value="<%= user_path(user) %>"
     style="cursor: pointer">
  
  <div class="user-box-info">
    <%= profile_image_for(user, size: 40) %>
    <strong class="user-name"><%= user.username %></strong>
  </div>

  <div class="user-box-follow" data-action="click->post-click#stopPropagation">
    <%= render "users/follow_button",
              user: user,
              data_action: "click->post-click#stopPropagation",
              show_request: show_request,
              show_unfollow: show_unfollow %>
  </div>
</div>