<div class="page-header">
  <h1><i class="fa-solid fa-house"></i> Your Feed</h1>
</div>

<div class="posts-feed">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= render post, truncate_body: true%>
    <% end %>
  <% else %>
    <p>There are currently no posts for you to see.</p>
  <% end %>
</div>