/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css";

.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  padding: 1rem;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.hidden {
  display: none;
}

.post-box {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background 0.15s ease;
}

.post-box:hover {
  background-color: #f9f9f9;
}

.user-link, .btn-like {
  z-index: 2;
  position: relative;
}

.follow-button, .requested-follow-button, .accept-request-button, .decline-request-button, .unfollow-button {
  border: none;
  background-color: #b9b7b7;
  border-radius: 10%;
}

.follow-button:hover, .requested-follow-button:hover, .accept-request-button:hover, .decline-request-button:hover, .unfollow-button:hover {
  box-shadow: 1px 1px 1px #8b8787;
}

.user-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.user-box:hover {
  background: #f9f9f9;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}
.profile-pic-preview {
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
}

