.user-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.user-box {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 1.2rem 1.5rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  background-color: #f9f9ff;
}

.user-box-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-name {
  font-size: 1.05rem;
  color: #1f2937;
  font-weight: 500;
}

.user-box-follow {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.profile-pic-preview {
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.follow-btn,
.requested-follow-button,
.unfollow-button,
.decline-request-button,
.accept-request-button {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
}

.follow-btn:hover,
.requested-follow-button:hover,
.unfollow-button:hover,
.decline-request-button:hover,
.accept-request-button:hover {
  background-color: #e6e6e6;
}

.accept-decline-action {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* profile page */

.users-show {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.users-show-box {
  background: #ffffff;
  width: 100%;
  text-align: center;
  padding: 3rem 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.user-avatar img {
  margin-bottom: 1rem;
  border: 3px solid #f3f4f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.profile-user-name h2 {
  font-size: 1.6rem;
  color: #11161b;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.user-actions form button,
.user-actions a {
  padding: 0.45rem 1rem;
  /* font-size: 0.9rem; */
  transition: all 0.3s ease;
  text-decoration: none;
}

/* .edit-profile-btn {
  background-color: #e5e7eb;
  color: #374151;
}

.edit-profile-btn:hover {
  background-color: #d1d5db;
} */

.user-stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  color: #18232e;
  font-size: 0.95rem;
}

.user-stats strong {
  color: #18232e;
  font-weight: 700;
}

.user-posts {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem 2rem;
}